<main class="main">
  <div class="inner">
      <%# ログイン %>
    <% if user_signed_in? %>
      <div class="greeting">
        
        <%= link_to "こんにちは、#{current_user.name}さん", user_path(current_user.id) , class: :greeting__link%>
      </div>
    <% end%>  
    
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "prototype", locals: { prototype: @prototypes } %>
    </div>
  </div>
</main>
